<link rel="stylesheet" href="/style/pages/invite_register_success.css">

<div class="container">
    <h3>
        <img width="40" src="/images/server/common/arrow.jpeg" alt="百卓优采小程序二维码" />
    </h3>
    <h2>成功领取免费试用！</h2>

    <img src="/images/server/common/youcai_app_logo@2x.png" alt="百卓优采小程序二维码" class="wechat-img" style="margin-top: 75px;"/>

    <div class="t_container">
        <p class="t_p">请您保持电话畅通，专属客服正带着<br>使用教程飞速赶来。 </p>
    </div>

    <p class="wechat-info" style="margin-top: 200px;">官方客服电话：<a style="color: #0CA1FF" href="tel:4006979890">4006979890</a>转1</p>
    <p class="wechat-info" style="margin-top: 10px;">官方网址：https://erp.abiz.com/</p>
</div>


























