<link rel="stylesheet" href="/style/pages/invite_register_success.css">

<div class="container">
    <h3>
        <img width="40" src="/images/server/common/arrow.jpeg" alt="百卓优采小程序二维码" />
    </h3>
    <h2>成功领取免费试用！</h2>
    {{#compare trench "==" '6'}}
        <p class="wechat-info">您可以识别二维码进入百卓优采小程序，<br/>进行自助订货或接收订单</p>
        <img src="/images/server/common/youcai_wechat.jpg" alt="百卓优采小程序二维码" class="wechat-img" />
    {{/compare}}
    <p class="wechat-info">立即下载百卓优采APP<br/>开启高效进销存管理</p>
    <img src="/images/server/common/youcai_app_logo@2x.png" alt="百卓优采小程序二维码" class="wechat-img" />
    {{#if appUploadUri}}
        <a href="{{appUploadUri}}" class="download-lnk" ga-data="1013">立即下载</a>
    {{else}}
        <a href="http://m.abiz.com/cgrj-app/?source=8" class="download-lnk" ga-data="1013">立即下载</a>
    {{/if}}

    <div class="t_container">
        <p class="t_p">开发者：百卓网络科技有限公司   </p>
        <p>应用名称：百卓优采云进销存</p>
        <p>版本号：2.8.99.1</p>
        <p><a href="http://www.abiz.com/info/ensure/63303.htm?uri=/policy.htm&locale=zh_CN">隐私政策</a> | <a href="https://www.abiz.com/info/ensure/63555.htm">应用权限</a></p>
    </div>

    <p class="wechat-info">-APP下载失败或使用电脑端请联系客服-</p>
    <p class="wechat-info">客服电话：<a style="color: #0CA1FF" href="tel:4006979890">4006979890</a>转1 或 <br>18402578025（微信同号）</p>
    <p class="wechat-info">
        <img width="120" src="/images/server/common/erweima.jpeg" alt="百卓优采小程序二维码" />
    </p>
    <p class="wechat-info-tp">客服微信，长按识别</p>
</div>


























