<link rel="stylesheet" href="/style/pages/agreement.css">

<div class="container">
  <h2>隐私策略</h2>

  <h3>您的隐私权</h3>
  <p>注册会员和浏览访问者均为百卓采购网（www.Abiz.com）用户。尊重用户即您的隐私权是我们网站的基本原则。以下协议内容即是当您浏览、使用百卓时的隐私策略。该策略作为《会员协议》的一部分，在您选择使用我们提供的服务时，必须被全部接受。以下策略可能会因将来提供更多的新服务而有所改动。相关条款一旦被修改，我们会在页面上提醒、说明，并立即生效。如果您不同意被修改的隐私策略，可主动取消已获得的服务；如果您继续使用服务，则视为接受策略的修改。故建议您定期查阅。</p>

  <h3>百卓收集哪些与您有关的信息？</h3>
  <p>账户信息：我们主要收集您在百卓上注册为会员后的账户信息，包括账户内需要提交的公司名称、地址、联系人、电话、传真、电子邮箱等公司、产品和采购信息（您可通过登录名和密码修改以上部分内容）。收集这些信息的目的是为了执行百卓的服务条款，为您提供我们承诺的服务，以便潜在的合作伙伴或者我们的工作人员能够及时与您取得联系，促成贸易合作机会的达成，或解决可能存在的问题。</p>
  <p>隐含信息：我们还收集可供百卓及其商业伙伴参考或使用的隐含信息。此类信息来源于“用户访问记录”，包括但不限于“Cookies”（访问百卓要求您需要接受“Cookies”）、“IP地址”、浏览过的网页或其他数字识别，以及非会员用户在使用百卓部分服务时被要求提交的信息。我们对这些信息进行收集，是为了使我们的网站界面对您更友好，并通过综合统计与市场分析，更有针对性的为您提供有效服务，同时也是防止百卓受到恶意攻击的必要措施。</p>
  <p>其他信息：为了能够向您提供更全面、专业、细致的服务，百卓在某些领域会通过与第三方合作的方式建立服务。在您选择应用第三方的服务时，您可能需要向该第三方提供某些信息，如向在线支付机构提供银行卡信息。</p>

  <h3>百卓对收集的信息如何处理？</h3>
  <p>您提供的供贸易发展需要而发布的公司名称、地址、联系人、电话等信息将会被直接或间接地在百卓的有关页面上列出，并对所有用户公开，以便潜在的合作伙伴能够及时与您取得联系，促成贸易合作机会的达成。因此我们建议您在此类公开信息中发布任何与个人有关的信息前仔细考虑。</p>
  <p>同时，百卓保留将您提交的相关信息进行综合分析后的结果提供给合作伙伴的权利，但提供给他们的仅仅是综合分析结果。</p>

  <h3>在保护隐私权中，您与百卓各承担什么样的责任？</h3>
  <p>我们将尽力保障您在百卓上提交信息的稳定与安全，但不承担因网络传输的特殊性而导致的风险，也不对此作任何类型的保证。在出现以下情况时，我们将善意地披露您的信息：</p>

  <ul>
    <li>（1）执行百卓服务条款的需要；</li>
    <li>（2）在维护和保障百卓、百卓其他用户和社会公众正当利益的要求下；</li>
    <li>（3）百卓与第三方合作、为用户提供更完善的服务时，但该第三方在合作结束后会被立即禁止访问有关信息；</li>
    <li>（4）相应的法律或政府要求百卓配合提供有关资料。</li>
  </ul>
  <p>同时，您也应当谨慎处理您在百卓上提交的所有信息，尤其是与个人有关的资料；妥善保管您在百卓上的登录名及密码，以保障信息的安全、准确、真实、有效。如因某种原因致使账号受到危及，请立即与我们联系。</p>

  <h3>对网站上含有的外部链接，百卓是否承担同样的隐私保护责任？</h3>
  <p>对通过百卓所含链接到达的其他网站的隐私保护措施，我们不承担任何责任。</p>

</div>


























