<link rel="stylesheet" href="/style/pages/agreement.css">

<div class="container">
  <h2>会员协议</h2>
  <p>百卓采购网 （www.Abiz.com）（以下简称“百卓”）是由百卓网络科技有限公司（以下简称“百卓网络”）创建的电子商务平台。若您使用百卓提供的服务，您应当遵循本协议的所有约定。</p>

  <h3>一、特别提醒</h3>
  <ol>
    <li class="strong">1.本协议已对与您的权益可能具有重大关系的条款用粗体字予以标注，您应重点阅读。 </li>
    <li class="strong">2.本协议的个别条款可能会根据业务需要不时地进行调整，一旦条款内容发生变动，将会在本网站以公告的方式予以公布。若您继续使用、接受百卓的服务，视为您已充分阅读、理解并接受修改后的协议内容；若您不同意修改后的协议内容，您有权停止使用百卓的服务。</li>
  </ol>

  <h3>二、会员</h3>
  <ol>
    <li>1.百卓的会员是能够独立承担相应法律责任的自然人、法人或其他组织。若您不具备此资格，请不要使用百卓提供的服务。</li>
    <li>2.百卓的会员不包括被百卓临时或永久取消会员资格的自然人、法人或其他组织。</li>
  </ol>

  <h3>三、注册条款</h3>
  <ol>
    <li>1.若您申请注册成为百卓的会员，您须遵守以下规则：
      <ul>
        <li>（1）申请会员时，根据百卓的要求，提供真实、准确、即时、完整的注册信息；</li>
        <li>（2）维护并及时更新注册信息以保持其真实、准确、即时、完整。</li>
      </ul>
    </li>
    <li>2.如您代表其他自然人、法人及其他组织在百卓上注册会员，则您声明并保证，您已获得授权并有权使前述法律主体受本协议的约束。</li>
    <li>3.在注册过程中，您可自主创建一个账号，账号包括登录名和密码。您应妥善保管您的账号，并对通过该账号进行的所有行为负责。</li>
  </ol>

  <h3>四、使用条款</h3>
  <ol>
    <li>1.您可以通过您的百卓账号进行发布信息、查看其他会员联系方式等活动。您在使用百卓提供的服务时，须保证遵守中国有关法律法规的规定，不利用百卓进行任何非法活动，遵守所有与使用百卓有关的协议、规定、程序和惯例。</li>
    <li class="strong">2.您对通过百卓发布的所有信息，包括但不限于注册信息、采购信息、商品信息的准确性、完整性、即时性、合法性都独立承担所有责任。如您注册时提供的账号名称、电子邮件等信息发生变更，可点击此链接：http://www.abiz.com/info/contacts/index.htm，并根据页面提示的步骤修改登录名、联系方式、密码或者注销账号，并接受百卓的审核。否则，百卓有权中止或者终止您的相关服务或者百卓账号的使用，百卓对此不承担任何责任。</li>
    <li>
      <span class="strong">3.以下信息在百卓上是禁止发布的：</span>
      <ul>
        <li>（1）有关宗教、种族或性别等的贬损言辞，或含淫秽、色情、侮辱、诽谤等内容的信息；</li>
        <li>（2）侵犯任何第三方著作权、专利、商标、商业秘密、隐私权、名誉权或其它权利的信息；</li>
        <li>（3）其它任何违反中国相关法律、行政法规、规章等的信息。</li>
      </ul>
    </li>
    <li>4.当您注册成为会员后，百卓会向您注册时提供的联系方式（包括但不限于电子邮箱、手机号码等）发送百卓通知或与百卓服务相关的各类商业性电子信息。<span class="strong">如您不同意继续接收商业性电子信息须通过书面形式通知百卓网络。</span></li>
    <li>5.您同意百卓网络在其运营的所有网站（包括但不限于现有的或将来可能创建的网站）上推广您所提供的公司、产品或其他信息，且同意百卓网络在未改变您提供信息的实质内容的情况下免于承担因该信息引起的任何法律责任。</li>
    <li>6.对于您选择并张贴发布在百卓上可公开获取部分的公司信息、产品信息或其他信息（包括但不限于文字、图片、视频），您同意百卓网络在全世界范围内具有免费的、永久的、不可撤销的、非独家的和完全的许可和再许可的权利，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品，传播、表演和展示前述内容（整体或部分），和/或将前述内容编入其他任何形式的作品、媒体、或技术中，不论是当前已知的或以后开发的。同时，您同意百卓网络在未改变您提供信息的实质内容的情况下免于承担因该信息引起的任何法律责任。</li>
  </ol>

  <h3>五、信息收集</h3>
  <p class="strong">当您注册成为百卓会员时，百卓需要收集您的姓名、电子邮箱（Email）、地址等信息。当您浏览百卓时，服务器会自动收集您的IP地址。百卓有权收集供应商及其产品信息、采购商的采购信息，构建数据库系统。除非会员许可或法律需要，百卓不会泄露与某一用户直接相关的上述信息。具体的信息收集及使用规则，请参看百卓《隐私策略》。</p>

  <h3>六、费用</h3>
  <p>注册会员是免费的，如选择其他收费服务的，具体费用请参见百卓上公布的相应费用说明。百卓保留调整费用的权利，一旦费用调整，将立即在百卓上公布。如您已经在使用收费服务且已付费，依照修改前费用标准执行，期满后依照新的费用标准执行。
    <span class="strong">请注意：百卓不承担您因使用百卓的服务而需支付的软硬件、税收及其它费用。</span></p>


  <h3>七、中止及终止</h3>
  <ol>
    <li>
      <span class="strong">1.对于会员的以下行为，百卓有权中止或终止相关服务或者拒绝其以任何形式使用百卓，并不因此承担任何责任，且保留追究您法律责任的权利：</span>
      <ul>
        <li>（1）利用百卓进行违法、违纪或违反本协议规定的活动；</li>
        <li>（2）提供的信息不真实、不准确、不即时、不完整；</li>
        <li>（3）利用百卓滥发重复信息或者发布与百卓服务无关的信息；</li>
        <li>（4）未经授权向百卓会员发送大量与业务不相关的信息；</li>
        <li>（5）冒用他人的名义发布信息；</li>
        <li>（6）计划破坏、攻击百卓电脑系统、网络的完整性，或者试图擅自进入百卓电脑系统、网络；</li>
        <li>（7）使用或提供含有毁坏、干扰、截取或侵占任何系统、数据或个人资料的任何电脑病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他破坏性程序；</li>
        <li>（8）盗用他人在百卓上的登录名或密码；</li>
        <li>（9）未经百卓书面同意，擅自允许他人使用百卓服务（包括但不限于擅自允许他人使用其账号，或者擅自将其账号转让给他人的），或者通过百卓获得相关信息。</li>
      </ul>
    </li>
    <li>2.您同意，百卓有权基于合理的怀疑并经电子邮件通知的情况下中止或者终止您的相关服务或者百卓账号的使用，百卓对此不承担任何责任。</li>
    <li>3.一旦您的会员服务被终止，您将不能在百卓上发布信息，也不能让别人代为发布信息；您在百卓的注册资料及所有相关信息均会被删除或丢弃；同时对您服务终止前的行为，百卓保留追究您法律责任的权利。</li>
  </ol>

  <h3>八、责任声明</h3>
  <ol>
    <li>1.百卓将尽力核查会员提交的信息，并依照有关法律法规以及网站运营规则进行审核、发布或删除会员提交的信息，但不能完全保证信息的真实性、准确性和合法性。</li>
    <li class="strong">2.百卓含有与其他网站的链接。百卓并不能控制这些网站及其所提供的资源，所以百卓对链接网站上的内容、广告、服务、产品信息的真实性、准确性、完整性及有效性不做任何承诺，且不因此承担任何责任。</li>
    <li class="strong">3.百卓不保证网站是不受干扰的、没有故障的，也不对使用效果做任何保证。百卓不对因人为或非人为因素造成的会员与百卓服务器之间的连接受阻而无法访问负责。您同意独立承担因网站意外中断、操作或传输的迟延、电脑病毒、网络连接故障、未经授权的进入等引起的损失。</li>
    <li>4.因不可抗力（包括但不限于自然灾害、罢工或骚乱、暴动、战争行为、政府行为、等）以及因互联网的特殊性而产生的包括黑客攻击、互联网连通中断或者系统故障、电信部门技术调整导致的影响、政府管制而造成的暂时性关闭在内的任何影响网络正常运营的因素等非百卓原因，致使百卓履行迟延或不能履行的，百卓不对您承担任何责任。但百卓应在不可抗力发生后及时通知会员并采取措施，尽最大努力减轻可能给会员造成的损失。</li>
    <li class="strong">5.百卓将尽最大努力来减少错误，但网站上提供的服务和信息仍可能包含错误内容，百卓对会员因使用百卓而造成的损失不负法律责任。百卓对其服务和信息不作保证，不论什么情况下对会员因使用百卓而造成的直接、间接、偶尔的损害或其他一切损害不负法律责任，即便事先被告知损害存在的可能性也是如此。若您对百卓提供的部分或所有服务不满，您有权停止使用这些服务。</li>
    <li>6.对由于会员在使用百卓的过程中，违反本会员协议、规则或违反任何法律或第三方的权利而产生或引起的任何索赔、要求、诉讼、损失和损害而言，无论是直接或间接的，会员同意就此对百卓网络及其员工、百卓及权利人进行补偿并使其免受损害。</li>
    <li>7.百卓无法保证会员所公布的信息的真实性、及时性、安全性和正确性，您应独立承担因使用百卓而产生的风险。百卓希望您在使用本网站时，小心谨慎并运用常识。</li>
  </ol>

  <h3>九、知识产权</h3>
  <ol>
    <li>1.百卓上所有内容的选材、整理、编排、排版、汇编，以及由百卓创作的文字、图片、商标等的著作权，无论是否明示，均属百卓网络所有。任何自然人、法人或其他组织未经百卓网络书面授权或许可，不得修改、出版、传播、参与传播、销售、制作衍生作品，或以其他任何方式使用整体或部分的百卓上的内容，百卓网络将保留追究其法律责任的权利。</li>
    <li>2.百卓上所有可阅读的资料等都受到《中华人民共和国著作权法》、《中华人民共和国商标法》等法律保护。百卓尊重和保护他人的知识产权，不允许在没有著作权、商标权或其他专有权权利人明确许可的情况下，发布或者传播任何可能侵犯他人权利的信息、图片，否则，行为人承担由此产生的全部责任。</li>
  </ol>

  <h3>十、法律适用及管辖</h3>
  <p class="strong">本协议条款的解释及适用，以及与本协议有关的争议，均适用中华人民共和国法律，并以百卓网络所在地法院为管辖法院。</p>
</div>


























