<div class="footer-wrap">
  <div class="grid-wide footer">
    <div class="footer-link">
      <a rel="nofollow" href="//www.abiz.com/info/abiz/index.htm" target="_blank">关于我们</a>
      <span class="v-sep">|</span>
      <a rel="nofollow" href="//www.abiz.com/info/contact.htm" target="_blank">联系我们</a>
      <span class="v-sep">|</span>
      <a rel="nofollow" href="//www.abiz.com/info/service/index.htm" target="_blank">客服中心</a>
      <span class="v-sep">|</span>
      <a rel="nofollow" href="//www.abiz.com/info/ensure/27641.htm" target="_blank">法律声明</a>
      <span class="v-sep">|</span>
      <a rel="nofollow" href="//www.abiz.com/baigoutong/" target="_blank">百购通服务</a>
      <span class="v-sep"></span>
<!--      <a rel="nofollow" href="//www.abiz.com/info/ensure/27643.htm" target="_blank">会员协议</a>-->
      <a rel="nofollow" href="//www.abiz.com/info/ensure/46146.htm" target="_blank">会员协议</a>
      <span class="v-sep">|</span>
<!--      <a rel="nofollow" href="//www.abiz.com/info/ensure/27645.htm" target="_blank">隐私策略</a>-->
      <a rel="nofollow" href="//www.abiz.com/info/ensure/63303.htm" target="_blank">隐私策略</a>
      <!--<span class="v-sep">|</span>
      <a rel="nofollow" href="//www.abiz.com/info/sitemap.htm" target="_blank">站点地图</a>-->
    </div>
    <div class="footer-copyright">
      <span>Copyright © 2021 <a target="_blank" href="//www.abiz.com">百卓网络科技有限公司</a>  版权所有 </span>
      <span>备案证书号：<a target="_blank" href="http://jscainfo.miitbeian.gov.cn/publish/query/indexFirst.action">苏ICP备17075644号</a></span>
    </div>
    <div class="footer-police">
      <span><img src="/images/server/common/icon_police.png" alt="网警图片"> 苏公网备 32011202000136</span>
    </div>
  </div>
</div>