@import "../../../../../styles/core/base";

.special-col{
  margin-left: -94px;
}
.special-col-lst{
  margin-left: 90px;
}

.input-prodNo{
  display: inline-block;
  width: 100%;
  padding-right: 154px;
  margin-right: -155px;
  margin-left: 46px;
}

.ck-prodNo{
  display:inline-block;
  margin-left:12px;
}