<link rel="stylesheet" href="/style/pages/lajifenlei.css">
<div class="lf-container">
    <!--<img src="image/logo.png" alt="百卓优采-云进销存">-->
    <div class="logo">
        <img src="../../images/server/common/tx_invite_logo.png" alt="">
    </div>

    <div class="header">
        <img src="../../images/server/common/lajifenlei.png" alt="">
        <h2>南京垃圾分类查询test</h2>
    </div>

    <div class="search">
        <input type="text" class="js-search" placeholder="请输入关键字"/>
        <button class="search js-ga-query" ga-data="1014">查询</button>
        <ul style="display: none;" class="suggest-ul js-suggest-ul">
        </ul>
    </div>

    <div class="search-group js-search">
        <h3 class="search-group-hd">常用查询</h3>
        <div class="search-group-bd">
            <span class="search-group-item js-search-item">肥皂</span>
            <span class="search-group-item js-search-item">锂电池</span>
            <span class="search-group-item js-search-item">卫生棉</span>
            <span class="search-group-item js-search-item">过期药品</span>
            <span class="search-group-item js-search-item">书本</span>
            <span class="search-group-item js-search-item">宠物饲料</span>
            <span class="search-group-item js-search-item">牙膏管</span>
            <span class="search-group-item js-search-item">洗发水瓶</span>
            <span class="search-group-item js-search-item">一次性打包盒</span>
            <span class="search-group-item js-search-item">废弃吹风机</span>
            <span class="search-group-item js-search-item">发霉的面包</span>
        </div>
    </div>

    <div class="module js-module">
        <em class="name js-letter-name"></em>
        <span class="belong js-belong">属于</span>
        <span class="type js-letter-type"></span>
        <span class="type js-error"></span>
    </div>

    <div class="footer">
        <div class="footer-copyright">
            <span>Copyright © 2020 <a target="_blank" href="//www.abiz.com">百卓优采云进销存软件（南京.江北新区）</a></span>
        </div>
    </div>
</div>

<script src="/script/lib/jquery-3.3.1.min.js"></script>
<script src="/script/lajifenlei/test.js"></script>