.dropdown-action{
	border-top:1px solid #ccc;
	padding: 5px 12px;
	line-height: 22px;
}
.dept-lst{
	position: relative;
	&:before{
		display: inline-block;
		margin-right: 4px;
		color: #ff4d4f;
		font-size: 14px;
		font-family: SimSun, sans-serif;
		line-height: 1;
		content: '*';
		position: absolute;
		left: 158px;
		top: 12px;
	}
}

form{
	.select-dept,
	.select-employee{
		display:inline-block;
		width:50%;
	}
	.select-dept{
		padding-right:5px;
	}
	.select-employee{
		padding-left:5px;
	}
}

.account-tab{
	:global(.ant-tabs-top-content){
		padding-top:50px;
	}
}
