.auth-notice{
	font-size:12px;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
}

.auth-box{
	height:500px;
	overflow-y:auto;
}
.tb-auth{
	width:100%;
	td{
		border:1px solid #ddd;
		padding:10px;
	}
}

.data-range{
	float:right;
	:global(.ant-select){
		width:120px;
	}
}