@import "../../../../styles/core/base";

.ope-bar{
	position: relative;
	z-index:2;
	padding-bottom:16px;
}

.bar-left{
	float:left;
	:global(.list-search){
		display:inline-block;
		vertical-align: middle;
		margin-right:10px;
	}
	.filter-btn-wrap{
		> :global(.ant-btn){
			margin: 0 8px;
		}
	}
	> :global(.ant-btn){
		margin-right:10px;
	}
}

.bar-right{
	float:right;
	:global(.ant-btn){
		margin: 0 8px;
		span{
			display: inline-block;
			vertical-align: middle;
			margin-top: -5px;
		}
	}
}

.recommend-btn{
	span{
		margin-top: 0!important;
	}
}

.filter-btn-wrap{
	position:relative;
	display:inline-block;
	.icon-arrow{
		display:none;
		position:absolute;
		bottom: -9px;
		left: 50%;
		margin-left: -12px;
		color:#eee;
		width:12px;
		height:12px;
		&:after{
			content: '';
			position:absolute;
			bottom:-2px;
			left:2px;
			width:12px;
			height:0;
			border-width:0 1px 1px;
			border-style:solid;
			border-color:transparent transparent #fff;
			overflow:hidden;
		}
	}
	.icon-arrow-fold{
		display: none;
	}
}

.mobile-work{
	display: inline-block;
	position: relative;
	.icon-new{
		width: 33px;
		height: 19px;
		position: absolute;
		top: -18px;
		right: -4px;
	}
}


:global(.ant-modal){
	.filter-btn-wrap{
		.icon-arrow{
			display:none;
		}
	}
}

:global(.export-menu){
	li:hover{
		button{
			background: #f0f0f0;
		}
	}
	button{
		border: none;
	}
	button:hover{
		background: #f0f0f0;
	}
}

