.mul-account{
	.account-notice{
		font-size:12px;
		padding-bottom:10px;
		border-bottom:1px solid #ccc;
	}
	.an-txt-l{
		float:left;
		color: #2DA66A;
		font-size: 13px;
		font-weight: bold;
	}
	.an-txt-r{
		color:#333;
		font-weight: bold;
	}
	.account-ope{
		margin-top:10px;
	}
	.tb-account{
		margin-top:10px;
		:global(.ant-table){
			font-size:12px;
		}
	}
}