// global variables
// =====================================

$black: #000 !default;
$white: #fff !default;
$gray: #666 !default;
$blue: #06d !default;
$green: #33ab56 !default;
$red: #eb2334 !default;
$redDark: #d9363c !default;
$grayDark: #333 !default;
$grayLight: #999 !default;
$borderColor: #ebebeb !default;
$textColor: $grayDark;


$bgRed: $red;
$bgGray: #e0e0e0 !default;