@import "../../../../styles/core/base";

.qt-mobile-work{
	text-align: center;
	padding: 40px;
	p{
		padding-bottom: 15px;
		font-size: 18px;
		font-weight: bold;
	}
	.down-btn{
		padding-top: 15px;
	}
}