@import "../../../../styles/core/base";

.order-block{
	display: inline-block;
	height:32px;
	line-height:30px;
	background: #fff;
	border: 1px solid #E5E5E5;
	padding: 0 10px;
	color: #333;
	font-size: 13px;
	margin-right: 10px;
	font-weight: normal;
	cursor: pointer;
	img{
		margin-bottom: 2px;
	}
}