@import "../../../../styles/core/base";

.dropdown-action{
  border-top:1px solid #ccc;
  padding: 5px 12px;
  line-height: 22px;
}


.dropdown{
  width:500px;
}

.prod-list{
  height:30px;
  line-height: 30px;
  overflow:hidden;
  span{
    float:left;
    height:30px;
    line-height: 30px;
  }
  .prod-no{
    @include text-clip(80px);
  }
  .prod-name{
    @include text-clip(180px);
  }
  .prod-item-spec{
    @include text-clip(80px);
  }
  .prod-unit{
    @include text-clip(50px);
  }
}

.suggest{
  width:200px;
  overflow:hidden;
  vertical-align: middle;
  height: 32px;
  &:global(.ant-select-open){
    :global(.ant-select-arrow-icon){
      svg{
        transform: rotate(0deg);
      }
    }
  }
  :global(.ant-select-selection-selected-value){
    white-space: normal;
    word-break: break-all;
  }
  :global(.ant-select-selection--single){
    cursor: text;
  }
  :global(.ant-select-arrow){
    right:6px;
  }
}

:global(.ant-select-selection-selected-value){
  .prod-list{
    display:inline;
    span{
      display:none;
    }
    :first-child{
      display:inline;
      float:none;
    }
  }
}

.readOnly{
  border:none;
  cursor:default;
  margin-top: 5px;
  padding: 0;
  &:focus{
    border:none;
    box-shadow:none;
  }
}


.modal-btn{
  margin-top: 10px;
  padding: 10px 16px;
  text-align: right;
  background: transparent;
  border-top: 1px solid #f0f0f0;
  border-radius: 0 0 2px 2px;
}

.ope-bar-lst{
  padding: 10px 0 5px;
}

.special-col{
  margin-left: -94px;
}
.special-col-lst{
  margin-left: 90px;
}

