@import "../../../../../styles/core/base";

.ant-table td { white-space: nowrap; }


.mul-account{
	.account-notice{
		font-size:12px;
		padding-bottom:10px;
		border-bottom:1px solid #ccc;
	}
	.white{
		color: #B0B0B0;
	}
	.account-ope{
		margin-top:10px;
	}

    .btn-confirm{
        margin: 20px 0 20px 1090px;
    }

    .clip {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      vertical-align: middle;
      width: 800px;
    }
}

.select-goods-trigger{
  display:inline-block;
  vertical-align: middle;
  width:28px;
  height:28px;
  margin-top: -8px;
  a{
    display:block;
    width:100%;
    height:100%;
  }
  i{
    font-size:28px;
  }
}
.suggest-search{
  position:relative;
  width:100%;
  cursor: pointer;
  .suggest{
    &:global(.ant-select-open){
      :global(.ant-select-arrow-icon){
        svg{
          transform: rotate(0deg);
        }
      }
    }
  }
  .search-btn{
    position:absolute;
    right:0;
    top:50%;
    margin-top:-16px;
    font-size:16px;
    color:#fff;
    cursor:pointer;
    border-radius:0 4px 4px 0;
    box-shadow: none;
    i{
      font-size:18px;
    }
  }
  :global(.ant-btn:not(.ant-btn-circle):not(.ant-btn-circle-outline).ant-btn-icon-only){
    padding:0 12px;
  }
  :global(.ant-select-selection--single){
    cursor: text;
  }
  :global(.ant-select-selection__clear){
    right:45px;
  }
}
