//base
@import './core/base';
@import "./core/reset";
@import "./core/atom";

//common
//scrollbar
::-webkit-scrollbar {
	width: 9px;
	height: 9px
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0
}

::-webkit-scrollbar-thumb {
	background: #b0c0d0;
	border-radius: 4px
}

::-webkit-scrollbar-thumb:active {
	background: #b0c0d0
}

::-webkit-scrollbar-track,::-webkit-scrollbar-track:hover {
	background: transparent
}

::-webkit-scrollbar-corner,::-webkit-scrollbar-track:active {
	background: transparent
}

//global tip

:global(.gb-nodata){
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	span{
		display:inline-block;
		width:42px;
		height:40px;
		background:url("../images/nodata.png") no-repeat;
	}
	p{
		margin-top:10px;
		line-height: 12px;
		color:#999;
	}
}

:global(.gb-data-loading){
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}