.dropdown-action{
	border-top:1px solid #ccc;
	padding: 5px 12px;
	line-height: 22px;
}
.field-ope{
	display: inline-block;
	width: 40px;
	margin-left: -195px;
	margin-top: 8px;
	i{
		margin-left:3px;
	}
}

