.dropdown-action{
	border-top:1px solid #ccc;
	padding: 5px 12px;
	line-height: 22px;
}

.status-btn{
	position: absolute;
	display: inline-block;
	right: 26px;
	top: 45px;
}

.status-img{
	position: absolute;
	display: inline-block;
	right: 10px;
	top: 28px;
}

.approve-btn{
	background-color: #2DA66A;
	color: #fff;
}