.dropdown-action{
	border-top:1px solid #ccc;
	padding: 5px 12px;
	line-height: 22px;
}
.detail-content-bd{
	position: relative;
	padding: 0 20px;
}
.detail-content{
	position: relative;
}
.status-img{
	position: absolute;
	display: inline-block;
	right: 10px;
	top: 14px;
}
.status-img-lst{
	position: absolute;
	display: inline-block;
	right: 10px;
	top: 26px;
}
.approve-btn{
	background-color: #2DA66A;
	color: #fff;
}
.file-list{
	display: inline-block;
	vertical-align:  top;
	font-size: 14px;
	color: #666;
	margin-right: 10px;
	line-height: 30px;
}