<link rel="stylesheet" href="/style/pages/traceLogin.css">
<div class="grid-wide header">
  <div class="logo">
    <img src="/images/server/common/logo_new.png" alt="百卓优采-云进销存软件" />
    <h1>订单追踪云平台</h1>
  </div>
  <div class="login">需要帮助？<a target="_blank" href="https://kefu.trademessenger.com/chat?domain=abiz&businessType=ayfvNxUccAs&multiWindow=true" ga-data="1001">点击咨询</a></div>
</div>
<div class="login-container">
  <div class="login-wrap grid">
    <div class="login-box">
      <div class="login-box-hd">
        <div class="login-tab">
           <h2  class="bd-title">登录</h2>
        </div>
      </div>

      <!--账户登录 S-->
      <form action="/login/trace" method="post" id="loginForm">
      <div class="login-box-bd">

          <div class="login-validate error js-err-msg" {{#if form.error}}style="display: block;"{{else}}style="display: none;"{{/if}}>
            <i class="iconfont icon-close-circle-fill"></i><span>{{form.error}}</span>
          </div>

        <ul class="input-wrap">
          <li>
              <span class="icon-span"><img src="/images/server/icon-name.png" alt="tp"></span>
            <input type="text" class="login-inp" name="logonUserName" id="logonUserName" placeholder="身份ID" maxlength="20"/>
          </li>
          <li>
              <span class="icon-span"><img src="/images/server/icon-clock.png" alt="tp"></span>
            <input type="password" class="login-inp" placeholder="登录口令" name="logonPassword"  id="logonPassword" maxlength="20"/>
            <i class="iconfont icon-pwd-hide" id="showPsw"></i>
          </li>
        </ul>
        <div class="login-ope">
            <button class="login-btn btn-disabled" type="submit" disabled="true" id="loginBtn" ga-data="1004">登录</button>
        </div>

      </div>
         <input type="hidden" id="baseNextPage" name="baseNextPage" value="{{form.baseNextPage}}" />
         <input type="hidden" id="userId" name="userId" value="{{form.userId}}" />
      </form>
      <!--账户登录 E-->

    </div>
  </div>
</div>
{{> footer }}
<script src="//cd.abiz.com/script/sso_source_V1.0.1.js"></script>
<script src="/script/lib/jquery-3.3.1.min.js"></script>
<script src="/script/lib/jquery.cookie.js"></script>
<script src="/script/lib/jquery.validate.min.js"></script>
<script src="/script/lib/jquery.qrcode.min.js"></script>
<script src="/script/logon/traceLogon.js"></script>
