//core
@import '../../../../styles/core/base';

.top-tip{
  height: 32px;
  line-height: 32px;
  padding-left: 5px;
  margin: 15px 0;
  background: #DFF5FF;
  border-radius: 2px;
  border: 1px solid #9DD2F8;
}